<!DOCTYPE html>
<html>
<head>
    <title>Example....</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/my-style.css">
</head>
<body>
{{{body}}}
</body>
</html>
